<div class="container d-flex justify-content-center">
  <form [formGroup]="produtoForm" (ngSubmit)="salvar()" class="formulario">
    <!--TABELA-->
    <table class="tabela">
      <tbody>
        <tr>
          <!--NOME-->
          <td>
            <mat-form-field class="fill" appearance="fill">
              <mat-label>Nome</mat-label>
              <input class="nome" matInput type="text" formControlName="nomeControl" required ngDefaultControl />

                <app-erro *ngIf="produtoForm.get('nomeControl')?.errors?.minlength"
                  mensagem="O nome deve ter mais de 6 caracteres.">
                </app-erro>
                <app-erro *ngIf="produtoForm.get('nomeControl')?.errors?.required &&
                  produtoForm.get('nomeControl')?.touched" mensagem="O Campo nome é obrigatório!">
                </app-erro>

            </mat-form-field>
          </td>
          <td>
            <!--VALOR-->
            <mat-form-field class="fill" appearance="fill">
              <mat-label>Valor</mat-label>
              <input class="valor" matInput type="number" formControlName="valorControl" required ngDefaultControl pattern="[0-9]+$"/>

                <app-erro *ngIf="produtoForm.get('valorControl')?.errors?.required
                  && produtoForm.get('valorControl')?.touched" mensagem="O campo valor é obrigatório!">
                </app-erro>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <!--CATEGORIA-->
            <mat-form-field class="fill" appearance="fill">
              <mat-label>Categoria</mat-label>
              <mat-select class="categoria" type="categoria" formControlName="categoriaControl" required>
                <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}
                </mat-option>
              </mat-select>

                <app-erro *ngIf="produtoForm.get('categoriaControl')?.errors?.required
                && produtoForm.get('categoriaControl')?.touched" mensagem="O campo categoria é obrigatório!">
                </app-erro>
            </mat-form-field>
          </td>
          <td>
            <!--QUANTIDADE-->
            <mat-form-field class="fill" appearance="fill">
              <mat-label>Quantidade</mat-label>
              <input class="quantidade" matInput type="number" min="5" max="20" step="5"
                formControlName="quantidadeControl" required ngDefaultControl pattern="[0-9]+$"/>
              <app-erro *ngIf="produtoForm.get('quantidadeControl')?.errors?.required
              && produtoForm.get('quantidadeControl')?.touched" mensagem="O campo quantidade é obrigatório!">
              </app-erro>
            </mat-form-field>
          </td>
        </tr>
        <tr colapse="2">
          <!--IMAGEM-->
          <td>
            <mat-form-field class="fill" appearance="fill">
              <mat-label>Imagem</mat-label>
              <mat-select class="imagem" type="imagem" formControlName="imagemControl" required>
                <mat-option *ngFor="let imagem of imagens" [value]="imagem.imagem">{{ imagem.nome }}
                </mat-option>
              </mat-select>
              <app-erro *ngIf="produtoForm.get('imagemControl')?.errors?.required
              && produtoForm.get('imagemControl')?.touched" mensagem="O campo imagem é obrigatório!">
              </app-erro>
            </mat-form-field>
        </tr>
        <tr colapse="2">
          <!--BOTÃO-->
          <td>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-warning" href="/">Voltar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
