.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: end;
  font-weight: 100;
  font-size: 1em;
  justify-content: flex-end;


  background-color: #000;
  color: #fff;
}

.color{
  text-decoration: none;
}
